################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MercuryHealth.Sql/MercuryHealth.Sql.dbmdl
